@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

#resume body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    max-width: 500px;
    margin-top: 80px;
}
#resume h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;
}

#resume h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}
#resume main {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}
#resume header {
    text-align: center;
    margin: auto 2em;
}

#resume section {
    /* margin: auto 1em 4em 2em; */
    margin: auto 1em 4em 2em;
}

#resume i {
    margin-right: .5em;
}

#resume p {
    margin: .2em auto
}

#resume hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

#resume h1, h2 {
    font-weight: 100;
    margin-bottom: 0;
}
#resume #mainLeft {
    border-right: 1px solid lightgray;
    margin-left: 13em;
}
#resume #mainRight {
    /* border-right: 1px solid lightgray; */
    margin-right: 13em;
}